@font-face {
    font-family: Type_Light_Sans;
    src: url(/fonts/TypeLightSans-KV84p.otf);
}

header{
    font-family: Type_light_Sans;
    height: 150px;
}

.logo_web {
    height: 25px;
    float: left;
    margin: 15px 20px 15px 25px;
}

.logo h3 {
    margin: 15px 20px 15px 25px
}

.profile img {
    height: 50px;
    border-radius: 100px;
}


.logo {
    float: left;
    width: 50%;
    background-color: purple;
    height: 50px;
    border-radius: 0px 0px 0px 15px;

    /*center*/
}

.fap{
    float: right;
    width: 50%;
    background-color: purple;
    height: 50px;
    border-radius: 0px 0px 15px 0px;
}

.fap h3 {
    
}